<input type="text" placeholder="Search coin" class="search-input" (keyup)="filterTable($event)">

<table class="coins-table">
    <thead>
        <th *ngFor="let column of columns">{{ column }}</th>
    </thead>
    <tbody>
        <tr *ngFor="let coin of filteredCoins; let i = index">
            <td>{{i + 1}}</td>
            <td><img [src]="coin.image" alt="{{ coin.name }} logo" class="coin-logo"></td>
            <td>{{ coin.name }} <span class="text-muted">({{ coin.symbol | uppercase}})</span> </td>
            <td>{{ coin.current_price | currency }}</td>
            <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-green' : 'text-red'">
                {{ coin.price_change_percentage_24h.toFixed(1) }}%
            </td>
            <td>{{ coin.total_volume | currency }}</td>
        </tr>
    </tbody>
</table>